.ticket-container .item {
    width: 48%;
    float: left;
    padding: 0 20px;
    overflow: hidden;
    margin: 10px
}

.ticket-container * {
    white-space: nowrap;
}

.ticket-container .status-warning {
    background-color: #f3c863;

    * {
        color: #545454;
    }

    .tickets {
        background-color: #fab005;
        color: #fff;
    }

    .assign-ticket {
        background-color: #ff9900;
        color: #fff;
        cursor: pointer !important;
    }
}

.ticket-container .status-success {
    background-color: #40c0571a;

    * {
        color: #40c057;
    }

    .tickets {
        background-color: #40c057;
        color: #fff;
    }
}

.ticket-container .status-primary {
    background-color: #99c8fdf2;

    .tickets {
        background-color: #1ba9d7;
        color: #fff;
    }
}

.ticket-container .status-danger {
    background-color: #f5cdcd;

    * {
        color: #464646;
    }

    .tickets {
        background-color: #fa5252;
        color: #fff;
    }
}

.ticket-container .desc_container {
    margin-top: 16px;
    margin-bottom: 8px;

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 118px;
        position: relative;
        cursor: pointer;

        &:hover::after {
            content: 'Mətnin kontenti tam görünmürsə, yazıya klikləyərək tam formada görə bilərsiniz.';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            color: #000;
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 8px;
        }
    }

    .hidden_check:checked + .description {
        overflow: auto;
        text-overflow: unset;
        -webkit-box-orient: unset;

        &:hover::after {
            content: unset;
        }
    }

}

.buttons_container {
    height: 86px;
}

.ticket-container .item-right, .ticket-container .item-left {
    float: left;
    padding: 20px
}

.ticket-container .item-right {
    padding: 79px 50px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 286px
}

.ticket-container .item-right .up-border, .ticket-container .item-right .down-border {
    padding: 14px 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute
}

.ticket-container .item-right .up-border {
    top: -8px;
    right: -35px;
}

.ticket-container .item-right .down-border {
    bottom: -145px;
    right: -35px;
}

.ticket-container .item-right .num {
    font-size: 60px;
    text-align: center;
}

.ticket-container .item-right .day, .ticket-container .item-left .event {
    font-size: 16px;
    margin-bottom: 9px;
}

.ticket-container .item-right .day {
    text-align: center;
    font-size: 25px;
}

.ticket-container .item-left {
    width: 71%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
}

.ticket-container .item-left .title {
    font-size: 34px;
    margin-bottom: 12px
}

.ticket-container .item-left .sce {
    margin-top: 5px;
    display: block
}

.ticket-container .item-left .sce .icon, .ticket-container .item-left .sce p,
.ticket-container .item-left .loc .icon, .ticket-container .item-left .loc p {
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.ticket-container .item-left .sce .icon, .ticket-container .item-left .loc .icon {
    margin-right: 10px;
    font-size: 20px;
}

.ticket-container .item-left .loc {
    display: block
}

.fix {
    clear: both
}

.ticket-container .item .tickets, .booked, .cancel {
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}

.ticket-container .item .tickets {
    border-radius: 28px;
    cursor: default;
    width: max-content;
}

.ticket-container .item .booked {
    background: #3D71E9
}

.ticket-container .item .cancel {
    background: #DF5454
}

.linethrough {
    text-decoration: line-through
}

@media only screen and (max-width: 1150px) {
    .ticket-container .item {
        width: 100%;
        margin-right: 20px
    }

    div.ticket-container {
        margin: 0 20px auto
    }
}

@media screen and (max-width: 1960px) {
    .ticket-container .item {
        width: 100%;
    }
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.vertical-timeline {
    width: 100%;
    position: relative;
    padding: 1.5rem 0 1rem;
}

.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 67px;
    height: 100%;
    width: 4px;
    background: #e9ecef;
    border-radius: .25rem;
}

.vertical-timeline-element {
    position: relative;
    margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    visibility: visible;
    animation: cd-bounce-1 .8s;
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
    box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
    width: 18px;
    height: 18px;
    position: relative;
}

.badge:empty {
    display: none;
}


.badge-dot-xl::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: .25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 90px;
    font-size: .8rem;
}

.vertical-timeline-element-content .timeline-title {
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0 0 .5rem;
    padding: 2px 0 0;
    font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    display: block;
    position: absolute;
    left: -90px;
    top: 0;
    padding-right: 10px;
    text-align: right;
    color: #adb5bd;
    font-size: .7619rem;
    white-space: nowrap;
}

.vertical-timeline-element-content .vertical-timeline-element-time {
    display: block;
    position: absolute;
    left: -90px;
    top: 20px;
    padding-right: 10px;
    text-align: right;
    color: #adb5bd;
    font-size: .7619rem;
    white-space: nowrap;
}

.vertical-timeline-element-content:after {
    content: "";
    display: table;
    clear: both;
}
